
<div id="foot">
    <div class="one_foot">
        <ul>
            <li><a href="">关注我们</a></li>
            <li><a href="">媒体报道</a></li>
            <li><a href="">工作机会</a></li>
            <li><a href="">广告服务</a></li>
            <li><a href="">合作伙伴</a></li>
            <li><a href="">用户建议</a></li>
            <li><a href="">欢迎加入</a></li>
            <li><a href="">深入了解</a></li>
        </ul>
    </div>
    <div class="two_foot">
        © 2002-2017 BlogBus.com, All Rights Reserved. 博客大巴 版权所有 沪ICP B2-20080056号
    </div>
</div>
